node_modules
.env
.env*
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Depyloments
## Ucomment if you want to save deployments
deployments/*
!deployments/.gitkeep

# IDE
.idea
.vscode
cache_forge
.yarn
.github
.gitmodules
.nvmrc
.prettierignore
.prettierrc.json
.solhint.json
.solhintignore
.yarnrc.yml
anvil-env-subgraph-yaml.sh
blast-env-subgraph-yaml.sh
blast-testnet-deploy-subgraph.sh
blast-testnet-env-subgraph-yaml.sh
GRAPH_SETUP.md
rennovate.json
revert-and-snapshot.sh
snapshot.json
take-snapshot.sh
TODO.md
types.d.ts

# subgraph
subgraph/graph-node/data
subgraph/tests
generated/
build/
generated/schema.ts


# Foundry
out/
out.json
coverage/
lib/
broadcast/
ts-script/
.gas-*
lcov.info
cache_forge
cache
snapshot.json
blast-testnet-deploy-subgraph.sh
