node_modules
.env
.env*
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Depyloments
## Ucomment if you want to save deployments
deployments/*
!deployments/.gitkeep

# IDE
.idea
.vscode
cache_forge
.yarn

# subgraph
subgraph/graph-node/data
subgraph/tests
generated/
build/
generated/schema.ts


# Foundry
out/
out.json
coverage/
broadcast/
.gas-*
lcov.info
cache_forge
cache
snapshot.json
